body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #eca8ec;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #eca8ec;
    text-decoration: none;
    margin: 0 20px;
    list-style-type: none;
    justify-content: space-around;
    padding: 2px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
}
#socials{
    color: #eca8ec;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 16px 8px 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #eca8ec;
}

 img{
    float: left;
    flex: 1;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
 }

 @media screen and (max-width: 800px) {
    .container{
        width: 100%; /* Occupy 100% on smaller screens */
        margin: 0;   /*Remove margin on smaller screens */
    }
    
 }

 footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

iframe{
    float: left;
    flex: 1;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
}
 
/* a{
    padding: 16px 35px;
    text-decoration: none;
    border: #eca8ec;
    border-radius: 35px;
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    margin: 10% 35%;
    
} */
/* a:hover{
    background-color: #eca8ec;
} */
 
.text{
    display: flex;
}